snippet rfc "react functional component"
import React from "react";
import type { FunctionComponent } from "react";

interface Props {
	${3}
}

const ${1:function_name}: FunctionComponent<Props> = (${2:props}) => {
	${4}
}
endsnippet
